.work {
  max-width: 340px;
  margin-left: 10px;
  margin-right: 10px;
}

.big-logo {
  display:block;
  height:300px;
  line-height:300px;
  overflow:hidden;
}

.header-logo img {
  max-height: 40%;
  max-width: 40%;
}

.container-skill {
  margin-bottom: 1.5em;
  margin-top: 0.8em;
}

.skill-content {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}

.skills {
  line-height: 40px;
}

.left-skills, .right-skills {
  width: 45%;
}