* {
  box-sizing: border-box
}

body {
  font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
p {
  margin: 0;
}

h1 {
  font-size: 1.1em;
  font-weight: 100;
}

h2 {
  font-weight: 300;
}

body {
  padding: 0;
  margin: 0;
  color: #7d97ad;
}

hr {
  display: none;
}

header {
  position: fixed;
  width: 100%;
  background-color: #fff;
  -webkit-box-shadow: 0px 3px 16px -2px rgba(45, 60, 73, 1);
  -moz-box-shadow: 0px 3px 16px -2px rgba(45, 60, 73, 1);
  box-shadow: 0px 3px 16px -2px rgba(45, 60, 73, 1);
}

main {
  padding-top: 70px;
}

img {
  width: 100%;
}

a {
  color: #2d3c49;
  text-decoration: none;
}

a:visited {
  color: #2d3c49;
}

.uppercase {
  text-transform: uppercase;
}

.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.header-logo {
  width: 25%;
  color: #02b3e4;
}

.container-content {
  padding: 2.0em 1.5em 0 1.5em;
  color: #2d3c49;
  width: 100%;
}

.container-author {
  width: 75%;
  text-align: right;
  padding-right: 10px;
}

.container-work {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.work {
  width: 100%;
  max-width: 320px;
  margin-top: 20px;
}

.container-content h2 {
  text-align: center;
  margin-bottom: 0.5em;
}

.caption {
  text-align: center;
}

.caption p {
  font-size: 1.25em;
  margin: 0;
  padding: 0;
}

.header-job-desc h3 {
  font-size: 0.8em;
}

.big-logo {
  margin-top: 10px;
}

.header-logo img {
  max-height: 50%;
  max-width: 50%;
}

.container-skill {
  width: 100%;
  /* Full width */
  background-color: #ddd;
  /* Grey background */
  margin-bottom: 0.75em;
}

.skills {
  text-align: right;
  padding-right: 20px;
  line-height: 25px;
  color: white;
}

.html {
  width: 100%;
  background-color: #2d3c49;
}

.css {
  width: 80%;
  background-color: #2d3c49;
}

.js {
  width: 60%;
  background-color: #2d3c49;
}

.qscript400 {
  width: 100%;
  background-color: #2d3c49;
}

